<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.catfist.githubclone</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1822D74C-5240-4039-8E63-E3FB0FF25783</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FDAB4F6C-D86F-4B04-A824-23B56B297CE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1822D74C-5240-4039-8E63-E3FB0FF25783</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>catfist</string>
	<key>description</key>
	<string>Clone Github Repositories</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clone from Github</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alwclone</string>
				<key>text</key>
				<string>Clone Alfred Workflow repo from Github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15299C7A-CDEA-4359-8898-446F2892DB7C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>theUrl="$(osascript &lt;&lt; EOB
tell application "Safari"
  get URL of document 1
end tell
EOB)"

if [ $(echo "$theUrl" | grep 'github.com') ];then
  repo=$(echo "$theUrl" | gsed 's%^https://github.com/\([^/]*/[^/]*\)/*.*$%\1%')
  name=$(echo "$theUrl" | gsed 's%^https://github.com/[^/]*/\([^/]*\)/*.*$%\1%')
  git clone git@github.com:$repo.git ~/Dropbox/setting/Alfred.alfredpreferences/workflows/$name &amp;&amp; echo "cloned $repo"
else
  echo "Not Github repository"
fi
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Clone from Github</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>PATH="$PATH:/usr/local/bin
theUrl="$(osascript &lt;&lt; EOB
tell application "Safari"
  get URL of document 1
end tell
EOB)"

if [ $(echo "$theUrl" | grep 'github.com') ];then
  ghq get $theUrl &amp;&amp; echo "cloned in $(ghqroot)/github.com/$(echo "$theUrl" | gsed 's%^https://github.com/\([^/]*/[^/]*\)/*.*$%\1%')/}"
else
  echo "Not Github repository"
fi
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1822D74C-5240-4039-8E63-E3FB0FF25783</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ghqclone</string>
				<key>text</key>
				<string>Clone to ghq from Github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FDAB4F6C-D86F-4B04-A824-23B56B297CE9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Clone Alfred Workflow (or other Repositories to ghq root directory)</string>
	<key>uidata</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>1822D74C-5240-4039-8E63-E3FB0FF25783</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>FDAB4F6C-D86F-4B04-A824-23B56B297CE9</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/catfist</string>
</dict>
</plist>
